{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
<h1 style="text-align:center; font-size:20px;">INSTAGRAM INFLUENCERS</h1>

{% for post in posts%}
<div class="container">
    <div class="col-md-8" style="border-radius:1%;">
        <div class="card m-3">
            <img style="width: 450px; height:500px" src="{{post.image.url}}" class="img-thumbnail">
            <a href="/">
                <p>{{post.comments.Count}}</p>

            </a>
            <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
            <img src="https://img.icons8.com/ios-glyphs/30/000000/filled-sent.png"/>
            <img src="https://img.icons8.com/material-outlined/24/000000/speech-bubble--v2.png"/>
            <p><strong class="text-secondary pl-3">{{post.profile}} <br></strong> {{post.image_caption}}.</p>
            <br>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}